.principal-title{
  padding-top: 60px;
}
.icon-challer-horizontal{
  width: 300px;
  text-align: center;
  margin: 50px auto 48px;
}

a{
  text-decoration: none !important;
}

.block_ {
  margin-left: 25px;
  color: #808080;
  display: block;
  font-size: 1.41667em;
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 8pt;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  text-align: center
}
.block_1 {
  color: black;
  display: block;
  font-size: 1.125em;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  text-align: center
}
.block_2 {
  color: black;
  display: block;
  font-size: 1.125em;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  text-align: center;
  text-indent: 36pt
}
.block_3 {
  color: #002060;
  display: block;
  font-size: 1.125em;
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 1pt;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  text-align: center
}
.block_4 {
  color: black;
  display: list-item;
  font-size: 1.41667em;
  line-height: 1.2;
  margin-bottom: 8pt;
  margin-left: 54pt;
  padding-bottom: 0
}
.block_5 {
  color: black;
  display: block;
  margin-bottom: 8pt;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  text-align: right
}
.block_6 {
  color: #002060;
  display: block;
  font-size: 1.125em;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0
}
.block_7 {
  color: black;
  display: block;
  font-size: 1.125em;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 11pt;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0
}
.block_8 {
  color: #002060;
  display: block;
  font-size: 1.125em;
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  text-align: right
}
.block_9 {
  color: black;
  display: block;
  font-weight: bold;
  margin-bottom: 8pt;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  text-align: justify
}
.block_10 {
  color: black;
  display: block;
  margin-bottom: 8pt;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  text-align: justify
}
.block_11 {
  color: black;
  display: block;
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 8pt;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0
}
.block_12 {
  color: black;
  display: block;
  margin-bottom: 8pt;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0
}
.block_13 {
  display: list-item;
  margin-bottom: 8pt;
  margin-left: 36pt;
  padding-bottom: 0;
  padding-top: 0;
  text-align: justify
}
.block_14 {
  color: black;
  display: list-item;
  margin-bottom: 8pt;
  margin-left: 36pt;
  padding-bottom: 0;
  padding-top: 0;
  text-align: justify
}
.block_15 {
  color: black;
  display: list-item;
  margin-bottom: 0;
  margin-left: 36pt;
  padding-bottom: 0;
  padding-top: 0;
  text-align: justify
}
.block_16 {
  color: black;
  display: list-item;
  margin-bottom: 0;
  margin-left: 36pt;
  margin-top: 0;
  padding-bottom: 0;
  padding-top: 0;
  text-align: justify
}
.block_17 {
  color: black;
  display: list-item;
  margin-bottom: 8pt;
  margin-left: 36pt;
  margin-top: 0;
  padding-bottom: 0;
  padding-top: 0;
  text-align: justify
}
.block_18 {
  color: black;
  display: block;
  font-family: serif;
  font-size: 0.75em;
  margin-bottom: 8pt;
  margin-left: 36pt;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  text-align: justify
}
.block_19 {
  color: black;
  display: list-item;
  margin-bottom: 8pt;
  margin-left: 72pt;
  padding-bottom: 0;
  padding-top: 0;
  text-align: justify
}
.block_20 {
  color: black;
  display: list-item;
  margin-bottom: 0;
  margin-left: 36pt;
  padding-bottom: 0;
  padding-top: 0
}
.block_21 {
  color: black;
  display: block;
  font-family: serif;
  font-size: 0.75em;
  margin-bottom: 0;
  margin-left: 36pt;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  text-align: justify
}
.block_22 {
  color: black;
  display: block;
  font-family: serif;
  font-size: 0.75em;
  margin-bottom: 0;
  margin-left: 36pt;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0
}
.block_23 {
  color: black;
  display: block;
  margin-bottom: 0;
  margin-left: 36pt;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  text-align: justify
}
.block_24 {
  color: black;
  display: block;
  font-family: serif;
  font-size: 0.75em;
  line-height: 1.08;
  margin-bottom: 8pt;
  margin-left: 36pt;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0
}
.block_25 {
  border-bottom-color: black;
  border-bottom-style: solid;
  border-bottom-width: 1pt;
  color: black;
  display: block;
  font-family: serif;
  font-size: 0.75em;
  margin-bottom: 8pt;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 1pt;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0
}
.block_26 {
  color: #002060;
  display: block;
  font-size: 1.125em;
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 8pt;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  text-align: right
}
.block_27 {
  color: black;
  display: list-item;
  margin-bottom: 8pt;
  margin-left: 36pt;
  padding-bottom: 0;
  padding-top: 0
}
.block_28 {
  color: black;
  display: list-item;
  margin-bottom: 8pt;
  margin-left: 70.9pt;
  padding-bottom: 0;
  padding-top: 0;
  text-align: justify
}
.block_29 {
  color: black;
  display: block;
  font-weight: bold;
  margin-bottom: 8pt;
  margin-left: 70.9pt;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  text-align: justify;
  text-indent: 27.8pt
}
.block_30 {
  color: black;
  display: block;
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 8pt;
  margin-left: 70.9pt;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  text-indent: 27.8pt
}
.block_31 {
  color: black;
  display: block;
  font-family: serif;
  font-size: 0.75em;
  margin-bottom: 8pt;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  text-align: justify
}
.block_32 {
  color: black;
  display: block;
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 8pt;
  margin-left: 70.9pt;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  text-indent: 28.4pt
}
.block_33 {
  color: black;
  display: block;
  font-weight: bold;
  margin-bottom: 8pt;
  margin-left: 70.9pt;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  text-align: justify;
  text-indent: 28.4pt
}
.block_34 {
  border-bottom-color: black;
  border-bottom-style: solid;
  border-bottom-width: 1pt;
  color: black;
  display: block;
  font-family: serif;
  font-size: 0.75em;
  margin-bottom: 8pt;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 1pt;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  text-align: justify
}
.block_35 {
  color: black;
  display: block;
  font-family: serif;
  font-size: 0.75em;
  margin-bottom: 8pt;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0
}
.block_36 {
  color: black;
  display: list-item;
  font-size: 1.41667em;
  line-height: 1.2;
  margin-bottom: 8pt;
  margin-left: 54pt;
  padding-bottom: 0;
  padding-top: 0
}
.block_37 {
  color: #002060;
  display: block;
  font-size: 1.125em;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 18pt;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0
}
.block_38 {
  color: black;
  display: block;
  font-size: 1.125em;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 18pt;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0
}
.block_39 {
  color: black;
  display: list-item;
  margin-bottom: 8pt;
  margin-left: 72pt;
  padding-bottom: 0;
  padding-top: 0
}
.block_40 {
  color: black;
  display: list-item;
  margin-bottom: 0;
  margin-left: 72pt;
  margin-top: 0;
  padding-bottom: 0;
  padding-top: 0
}
.block_41 {
  color: black;
  display: list-item;
  margin-bottom: 8pt;
  margin-left: 72pt;
  margin-top: 0;
  padding-bottom: 0;
  padding-top: 0
}
.block_42 {
  color: black;
  display: block;
  margin-bottom: 8pt;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  text-indent: 36pt
}
.block_43 {
  display: list-item;
  font-size: 1.41667em;
  line-height: 1.2;
  margin-bottom: 8pt;
  margin-left: 54pt;
  padding-bottom: 0;
  padding-top: 0
}
.block_44 {
  color: #002060;
  display: block;
  font-size: 1.125em;
  line-height: 1.2;
  margin-bottom: 8pt;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0
}
.block_45 {
  color: black;
  display: block;
  font-size: 1.125em;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0
}
.block_46 {
  color: black;
  display: block;
  font-size: 0.75em;
  line-height: 1.08;
  margin-bottom: 8pt;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  text-align: right
}
.block_47 {
  background-color: #FFF;
  display: block;
  margin-bottom: 8pt;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  text-align: justify
}
.block_48 {
  display: list-item;
  margin-bottom: 8pt;
  margin-left: 21.3pt;
  padding-bottom: 0;
  padding-top: 0
}
.block_49 {
  display: table-row;
  margin-bottom: 8pt;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0
}
.block_50 {
  background-color: #FFF;
  color: black;
  display: block;
  margin-bottom: 8pt;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  text-align: justify
}
.block_51 {
  display: list-item;
  margin-bottom: 0;
  margin-left: 108pt;
  margin-top: 2pt;
  padding-bottom: 0;
  padding-top: 0;
  page-break-after: avoid;
  page-break-inside: avoid
}
.block_52 {
  background-color: #FFF;
  display: list-item;
  margin-bottom: 0;
  margin-left: 36pt;
  padding-bottom: 0;
  padding-top: 0;
  text-align: justify
}
.block_53 {
  background-color: #FFF;
  display: list-item;
  margin-bottom: 0;
  margin-left: 72pt;
  margin-top: 0;
  padding-bottom: 0;
  padding-top: 0;
  text-align: justify
}
.block_54 {
  background-color: #FFF;
  display: list-item;
  margin-bottom: 8pt;
  margin-left: 72pt;
  margin-top: 0;
  padding-bottom: 0;
  padding-top: 0;
  text-align: justify
}
.block_55 {
  display: list-item;
  margin-bottom: 0;
  margin-left: 36pt;
  margin-top: 2pt;
  padding-bottom: 0;
  padding-top: 0;
  page-break-after: avoid;
  page-break-inside: avoid
}
.block_56 {
  background-color: #FFF;
  display: list-item;
  margin-bottom: 0;
  margin-left: 36pt;
  margin-top: 0;
  padding-bottom: 0;
  padding-top: 0;
  text-align: justify
}
.block_57 {
  background-color: #FFF;
  display: list-item;
  margin-bottom: 8pt;
  margin-left: 36pt;
  margin-top: 0;
  padding-bottom: 0;
  padding-top: 0;
  text-align: justify
}
.block_58 {
  background-color: #FFF;
  display: list-item;
  margin-bottom: 8pt;
  margin-left: 36pt;
  padding-bottom: 0;
  padding-top: 0;
  text-align: justify
}
.block_59 {
  display: block;
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 2pt;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  page-break-after: avoid;
  page-break-inside: avoid
}
.block_60 {
  background-color: #FFF;
  color: black;
  display: block;
  font-family: serif;
  font-size: 0.75em;
  margin-bottom: 8pt;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  text-align: justify
}
.block_61 {
  background-color: #FFF;
  color: #262626;
  display: list-item;
  margin-bottom: 8pt;
  margin-left: 36pt;
  margin-top: 0;
  padding-bottom: 0;
  padding-top: 0;
  text-align: justify
}
.block_62 {
  display: block;
  margin-bottom: 8pt;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0
}
.block_63 {
  display: list-item;
  margin-bottom: 8pt;
  margin-left: 20.4pt;
  padding-bottom: 0;
  padding-top: 0
}
.block_64 {
  display: block;
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 0;
  margin-left: 56.7pt;
  margin-right: 0;
  margin-top: 2pt;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  page-break-after: avoid;
  page-break-inside: avoid;
  text-indent: 7.1pt
}
.block_65 {
  display: list-item;
  margin-bottom: 0;
  margin-left: 56.7pt;
  margin-top: 2pt;
  padding-bottom: 0;
  padding-top: 0;
  page-break-after: avoid;
  page-break-inside: avoid
}
.bullet_ {
  display: table-cell;
  font-weight: bold
}
.calibre {
  color: #000;
  display: block;
  font-family: "Arial", sans-serif;
  font-size: 1em;
  margin-bottom: 0;
  margin-left: 5pt;
  margin-right: 5pt;
  margin-top: 0;
  padding-left: 0;
  padding-right: 0
}
.calibre1 {
  line-height: 1.2;
  text-decoration: none
}
.calibre2 {
  font-weight: bold;
  line-height: 1.2
}
.calibre3 {
  white-space: pre-wrap
}
.calibre4 {
  font-weight: bold
}
.calibre5 {
  display: block
}
.calibre6 {
  display: block;
  line-height: 1.2
}
.calibre7 {
  display: table;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 63.8pt;
  padding-right: 0;
  padding-top: 0
}
.calibre8 {
  display: table-cell
}
.frame_ {
  border-bottom-color: black;
  border-bottom-style: solid;
  border-bottom-width: 1pt;
  display: block;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0
}
.list_ {
  display: block;
  list-style-type: upper-roman;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-right: 0;
  padding-top: 0
}
.list_1 {
  display: block;
  list-style-type: disc;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-right: 0;
  padding-top: 0
}
.list_2 {
  display: block;
  list-style-type: upper-alpha;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-right: 0;
  padding-top: 0
}
.list_3 {
  display: block;
  list-style-type: circle;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-right: 0;
  padding-top: 0
}
.list_4 {
  display: block;
  list-style-type: decimal;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-right: 0;
  padding-top: 0
}
.list_5 {
  display: block;
  list-style-type: lower-alpha;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-right: 0;
  padding-top: 0
}
.list_6 {
  display: block;
  list-style-type: square;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-right: 0;
  padding-top: 0
}
.tab {
  line-height: 1.2;
  white-space: pre
}
.text_ {
  color: #002060;
  font-weight: bold;
  line-height: 1.2
}
.text_1 {
  color: #002060;
  line-height: 1.2;
  text-decoration: underline
}
.text_2 {
  color: #000
}
.text_3 {
  color: #00F;
  text-decoration: none
}
.text_4 {
  color: #002060;
  line-height: 1.2
}
.text_5 {
  color: #002060;
  font-size: 1.5em;
  line-height: 1.2
}
.text_6 {
  color: #000;
  font-size: 1.33333em;
  line-height: 1.2
}
.text_7 {
  background-color: #FFF
}
.text_8 {
  background-color: yellow
}

@page {
  margin-bottom: 5pt;
  margin-top: 5pt
}

