.block_ {
  display: block;
  font-size: 1.41667em;
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 8pt;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  text-align: center
}
.block_1 {
  display: block;
  font-family: serif;
  font-size: 0.75em;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 1pt;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  text-align: center
}
.block_2 {
  display: block;
  line-height: 1.2;
  margin-bottom: 5pt;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0
}
.block_3 {
  display: block;
  font-weight: bold;
  margin-bottom: 8pt;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  text-align: center
}
.block_4 {
  display: list-item;
  margin-bottom: 8pt;
  margin-left: 54pt;
  padding-bottom: 0;
  text-align: justify
}
.block_5 {
  display: block;
  margin-bottom: 8pt;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  text-align: right
}
.block_6 {
  display: block;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 11pt;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  text-align: justify
}
.block_7 {
  display: block;
  font-weight: bold;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  text-align: justify
}
.block_8 {
  display: block;
  font-weight: bold;
  margin-bottom: 8pt;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  text-align: justify
}
.block_9 {
  display: block;
  margin-bottom: 8pt;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  text-align: justify
}
.block_10 {
  display: block;
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 8pt;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  text-align: justify
}
.block_11 {
  display: list-item;
  margin-bottom: 8pt;
  margin-left: 36pt;
  padding-bottom: 0;
  padding-top: 0;
  text-align: justify
}
.block_12 {
  display: list-item;
  margin-bottom: 0;
  margin-left: 36pt;
  padding-bottom: 0;
  padding-top: 0;
  text-align: justify
}
.block_13 {
  display: list-item;
  margin-bottom: 0;
  margin-left: 36pt;
  margin-top: 0;
  padding-bottom: 0;
  padding-top: 0;
  text-align: justify
}
.block_14 {
  display: list-item;
  margin-bottom: 8pt;
  margin-left: 36pt;
  margin-top: 0;
  padding-bottom: 0;
  padding-top: 0;
  text-align: justify
}
.block_15 {
  display: block;
  font-family: serif;
  font-size: 0.75em;
  margin-bottom: 8pt;
  margin-left: 36pt;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  text-align: justify
}
.block_16 {
  display: list-item;
  margin-bottom: 8pt;
  margin-left: 72pt;
  padding-bottom: 0;
  padding-top: 0;
  text-align: justify
}
.block_17 {
  display: block;
  font-family: serif;
  font-size: 0.75em;
  margin-bottom: 0;
  margin-left: 36pt;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  text-align: justify
}
.block_18 {
  display: block;
  margin-bottom: 0;
  margin-left: 36pt;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  text-align: justify
}
.block_19 {
  display: block;
  font-family: serif;
  font-size: 0.75em;
  line-height: 1.08;
  margin-bottom: 0;
  margin-left: 36pt;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  text-align: justify
}
.block_20 {
  display: block;
  font-family: serif;
  font-size: 0.75em;
  line-height: 1.08;
  margin-bottom: 8pt;
  margin-left: 36pt;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0
}
.block_21 {
  display: list-item;
  margin-bottom: 8pt;
  margin-left: 54pt;
  padding-bottom: 0;
  padding-top: 0;
  text-align: justify
}
.block_22 {
  display: block;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  text-align: justify
}
.block_23 {
  display: list-item;
  margin-bottom: 8pt;
  margin-left: 70.9pt;
  padding-bottom: 0;
  padding-top: 0;
  text-align: justify
}
.block_24 {
  display: block;
  font-weight: bold;
  margin-bottom: 8pt;
  margin-left: 70.9pt;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  text-align: justify;
  text-indent: 27.8pt
}
.block_25 {
  display: block;
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 8pt;
  margin-left: 70.9pt;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  text-align: justify;
  text-indent: 27.8pt
}
.block_26 {
  display: block;
  font-family: serif;
  font-size: 0.75em;
  margin-bottom: 8pt;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  text-align: justify
}
.block_27 {
  display: block;
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 8pt;
  margin-left: 70.9pt;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  text-align: justify;
  text-indent: 28.4pt
}
.block_28 {
  display: block;
  font-weight: bold;
  margin-bottom: 8pt;
  margin-left: 70.9pt;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  text-align: justify;
  text-indent: 28.4pt
}
.block_29 {
  border-bottom-color: currentColor;
  border-bottom-style: solid;
  border-bottom-width: 1pt;
  display: block;
  font-family: serif;
  font-size: 0.75em;
  margin-bottom: 8pt;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 1pt;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  text-align: justify
}
.block_30 {
  display: list-item;
  margin-bottom: 8pt;
  margin-left: 54pt;
  padding-top: 0;
  text-align: justify
}
.block_31 {
  border-bottom-color: currentColor;
  border-bottom-style: none;
  border-bottom-width: 1pt;
  display: block;
  letter-spacing: 0.25pt;
  margin-bottom: 15pt;
  margin-left: 54pt;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  text-align: right
}
.block_32 {
  display: block;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 18pt;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  text-align: justify
}
.block_33 {
  display: list-item;
  margin-bottom: 0;
  margin-left: 72pt;
  margin-top: 0;
  padding-bottom: 0;
  padding-top: 0;
  text-align: justify
}
.block_34 {
  display: list-item;
  margin-bottom: 8pt;
  margin-left: 72pt;
  margin-top: 0;
  padding-bottom: 0;
  padding-top: 0;
  text-align: justify
}
.block_35 {
  display: block;
  margin-bottom: 8pt;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  text-align: justify;
  text-indent: 36pt
}
.block_36 {
  display: block;
  line-height: 1.2;
  margin-bottom: 8pt;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  text-align: justify
}
.block_37 {
  display: block;
  font-family: serif;
  font-size: 0.75em;
  line-height: 1.08;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  text-align: justify
}
.block_38 {
  display: block;
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 8pt;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0
}
.block_39 {
  background-color: #FFF;
  display: block;
  margin-bottom: 8pt;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  text-align: justify
}
.block_40 {
  display: table-row;
  margin-bottom: 8pt;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  text-align: justify
}
.block_41 {
  display: block;
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 0;
  margin-left: 56.7pt;
  margin-right: 0;
  margin-top: 2pt;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  page-break-after: avoid;
  page-break-inside: avoid;
  text-align: justify;
  text-indent: 7.1pt
}
.block_42 {
  background-color: #FFF;
  display: block;
  font-family: serif;
  font-size: 0.75em;
  margin-bottom: 8pt;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  text-align: justify
}
.block_43 {
  display: list-item;
  margin-bottom: 0;
  margin-left: 56.7pt;
  margin-top: 2pt;
  padding-bottom: 0;
  padding-top: 0;
  page-break-after: avoid;
  page-break-inside: avoid;
  text-align: justify
}
.bullet_ {
  display: table-cell;
  font-weight: bold
}
.calibre {
  display: block;
  font-family: "Arial", sans-serif;
  font-size: 1em;
  margin-bottom: 0;
  margin-top: 0;
  padding-left: 0;
  padding-right: 0
}
.calibre1 {
  font-weight: bold;
  line-height: 1.2
}
.calibre2 {
  line-height: 1.2;
  text-decoration: none
}
.calibre3 {
  font-weight: bold
}
.calibre4 {
  white-space: pre-wrap
}
.calibre5 {
  text-decoration: none
}
.calibre6 {
  display: block
}
.calibre7 {
  display: table;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 63.8pt;
  padding-right: 0;
  padding-top: 0
}
.calibre8 {
  display: table-cell
}
.frame_ {
  border-bottom-color: currentColor;
  border-bottom-style: solid;
  border-bottom-width: 1pt;
  display: block;
  margin-bottom: 8pt;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0
}
.list_ {
  display: block;
  list-style-type: upper-roman;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-right: 0;
  padding-top: 0
}
.list_1 {
  display: block;
  list-style-type: disc;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-right: 0;
  padding-top: 0
}
.list_2 {
  display: block;
  list-style-type: upper-alpha;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-right: 0;
  padding-top: 0
}
.list_3 {
  display: block;
  list-style-type: circle;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-right: 0;
  padding-top: 0
}
.list_4 {
  display: block;
  list-style-type: decimal;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-right: 0;
  padding-top: 0
}
.list_5 {
  display: block;
  list-style-type: lower-alpha;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-right: 0;
  padding-top: 0
}
.tab {
  line-height: 1.2;
  white-space: pre
}
.text_ {
  color: #00F;
  font-weight: bold;
  line-height: 1.2;
  text-decoration: underline
}
.text_1 {
  color: currentColor;
  line-height: 1.2;
  text-decoration: underline
}
.text_2 {
  color: currentColor;
  line-height: 1.2
}
.text_3 {
  color: currentColor;
  font-weight: bold;
  line-height: 1.2
}

@page {
  margin-bottom: 5pt;
  margin-top: 5pt
}

