.video-challer{
  width: 100%;
  padding: 5px;
  margin: 5px;
}
.menu-left{
  position: fixed;
  top: 65px;
  left: 0;
  bottom: 0;
  padding-left: 65px;
  padding-right: 65px;
  z-index: 11;
  border: 1px solid #707070;
  padding-top: 75px;
}
.section-right{
  margin-top: 9px;
}
.menu-bottom{
  position: fixed;
  bottom: 5px;
  left: 10px;
  width: 317px;
  z-index: 10;
  >div{
    text-align: center;
    >div{
      padding-left: 10px;
      padding-right: 10px;
      text-align: center;
      display: inline-block;
    }
  }
}
.download-now{
  width: 400px;
}
.banners-float-sections{
  position: absolute;

}
