<div class="principal-background height-infinite home">
  <app-cloud>
    Check our app in the Appstore
    <img src="assets/images/components/cloud/apple.svg">
    y Google Play
    <img src="assets/images/components/cloud/playstore.svg">
  </app-cloud>
  <div class="menu-left">
    <app-selector-site></app-selector-site>
  </div>
  <div class="menu-bottom">
    <div class="">
      <div class="font-style-7 click" (click)="onAbout()">About Us</div>
      <div class="font-style-7 click" (click)="onVision()">Vision</div>
      <div class="font-style-7 click" (click)="onBusiness()">Business</div>
      <div class="font-style-7 click" (click)="onCondition()">Terms & Conditions</div>
    </div>
  </div>
  <div class="container-fluid mt-5 desktop">
    <div class="row">
      <div class="col-md-3">
      </div>
      <div class="col-md-5">
        <div *ngFor="let challenge of challenges" class="video-challer">
          <app-challer-slide-list [challenge]="challenge"></app-challer-slide-list>
        </div>
      </div>
      <div class="col-md-4">
        <div class="section-right">
          <app-slide-banners></app-slide-banners>
        </div>
        <div class="download mt-5 d-flex justify-content-center">
          <div class="download-now">
            <app-download-app [template]="'right-section'"></app-download-app>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
