@import "../../../styles/_partial/mixins/responsive.mixin";
.video-challer{
  width: 100%;
  padding: 5px;
  margin: 5px;
}
.menu-left{
  position: fixed;
  top: 65px;
  left: 0;
  bottom: 0;
  padding-left: 65px;
  padding-right: 60px;
  z-index: 11;
  border: 1px solid #dbdbdb;
  padding-top: 75px;
  background: white;
  direction: rtl;
  overflow-y: auto;
  overflow-x: hidden;
  > div{
    direction: ltr;
  }
  @include for-tablet{
   /* padding-left: 10px;
    padding-right: 10px;*/
  }
}
.section-right{
  margin-top: 9px;
}
.menu-bottom{
  &.float{
    position: fixed;
  }
  bottom: 5px;
  z-index: 10;
  >div{
    text-align: left;
    &.center{
      text-align: center;
    }
    max-width: 244px;
    >div{
      padding-left: 10px;
      padding-right: 10px;
      padding-top: 10px;
      display: block;
      &.forma-two{
        padding-left: 3px;
        padding-right: 3px;
        text-align: center;
        display: inline-grid;
        font-size: 13px;
      }
    }
  }
}
.download-now{
  /*width: 400px;*/
}
.banners-float-sections{
  position: absolute;
  background: #FFFFFF;
  z-index: 100;
  padding: 10px;
  display: block;

  @include for-tablet{
    display: none;
  }

  &.dynamic-y{
    height: 280px;
    overflow-y: auto;
  }

}
