<div class="home">
  <div class="container mt-5">
    <div class="row">
      <div class="col-md-4">
        <div class="section-text about-icon griss mt-2">
          <span class="font-weight-bold">
            Address:
          </span>
          <div>
            Loremmip@challer.app
          </div>
        </div>

        <div class="section-text information-icon griss mt-2">
          <span class="font-weight-bold">
            Have my Questions?:
          </span>
          <div>
            Loremmip@challer.app
          </div>
        </div>
      </div>
      <div class="col-md-8">
        <form class="template-designer">
          <div class="form-group">
            <label for="fullname">Full Name <span>*</span></label>
            <input type="text" class="form-control" id="fullname" aria-describedby="emailHelp">
          </div>
          <div class="form-group">
            <label for="email">Email <span>*</span></label>
            <input type="email" class="form-control" id="email" aria-describedby="emailHelp">
          </div>
          <div class="form-group">
            <label for="subject">Subject</label>
            <select class="form-control" id="subject">
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
            </select>
          </div>
          <div class="form-group">
            <label for="validationTextarea"></label>
            <textarea class="form-control" id="validationTextarea"></textarea>
          </div>
          <div class="form-group">
            <div class="button-submit">
              <app-button-type-template [template]="'form'" >
                <div class="text-center font-weight-bold">
                  SUBMIT
                </div>
              </app-button-type-template>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

  <app-download-app></app-download-app>
  <app-footer></app-footer>
</div>

