<ng-container #vc></ng-container>
<ng-template #tpl>
  <div class="home" *ngIf="!isMobile">
    <div [class]="'menu-left desktop'" style="margin-top: 1px">
      <div>
        <app-selector-site></app-selector-site>
        <div class="menu-bottom mt-2" [ngClass]="{'float':!isScrollDownload}">
          <div [ngClass]="{'center':isScrollDownload}" >
            <div [class]="'font-style-7 click'" [ngClass]="{'forma-two':isScrollDownload}"  (click)="onAbout()">ABOUT US</div>
            <div [class]="'font-style-7 click'" [ngClass]="{'forma-two':isScrollDownload}" (click)="onMision()">OUR MISION</div>
            <div [class]="'font-style-7 click'" [ngClass]="{'forma-two':isScrollDownload}" (click)="onStory()">OUR STORY</div>
            <div [class]="'font-style-7 click'" [ngClass]="{'forma-two':isScrollDownload}" (click)="onBusiness()">CHALLER FOR BUSINESS</div>
          </div>
        </div>
      </div>

    </div>
    <div class="container-fluid mt-2">
      <div class="row">
        <div [ngClass]="{
        'col-md-4': !isTable,
        'col-md-6': isTable
        }">
        </div>
        <div [ngClass]="{
        'col-md-4': !isTable,
        'col-md-6': isTable
        }">
          <div *ngIf="!isRating; else mvp">
            <div *ngFor="let challenge of challenges" class="video-challer" >
              <app-challer-slide-list [challenge]="challenge"></app-challer-slide-list>
            </div>
          </div>
        </div>
        <div class="col-md-4" *ngIf="!isTable">
          <div class="banners-float-sections" [style]="'top:'+(top + 0)+'px' " >
            <div class="section-right">
              <app-slide-banners></app-slide-banners>
            </div>
            <div class="download mt-4">
              <div class="download-now">
                <app-donwload-buttoms [template]="'white'"></app-donwload-buttoms>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="home" *ngIf="isMobile">
    <app-challer-vertical-slide *ngIf="!isRating; else mvp"
      [challenges] = challenges
      [height]="innerHeight"
      [width]="innerWidth"
      (nextPagination) = nextPagination()
      [isAndroid]="isAndroid"
    ></app-challer-vertical-slide>
  </div>

  <ng-template #mvp>
    <app-mvp [isMobil]="isMobile"></app-mvp>
  </ng-template>

</ng-template>
