@import "../../../styles/_partial/mixins/responsive.mixin";
.about{
  &.about-background{
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(/assets/images/background/fondo-aboutus.png);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: fixed;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    top: 55px;
    height: calc(100% - 55px);
  }
  .desktop{
    display:block;
  }
  .mobile{
    display:none;
  }
  @include for-table-very-small{
    .desktop{
      display:block;
    }
    .mobile{
      display:none;
    }
  }
  @include for-mobile-very-small{
    .mobile{
      display:block;
    }
    .desktop{
      display:none;
    }
  }

  .col-sm-6{
    padding-left: 5px;
    padding-right: 5px;
    @include for-mobile-small{
      padding-left: 15px;
      padding-right: 15px;
    }
  }
  .text-left{

  }
  .section{
    display: table;
    text-align: center;
    margin-left: 0;
    margin-right: auto;
    &.text-1{
      width: 100%;
    }
    @include for-mobile-small{
      margin-left: auto;
      margin-right: auto;
      img{
        text-align: center;
        margin-left: auto;
        margin-right: auto;
      }
    }
  }
  .right-section{
    margin-left: auto;
    margin-right: 0;
    display: block;
  }
  .left-section{
    margin-right: auto;
    margin-left: 0;
    display: block;
  }
  .button-icon{
    min-width: 162px;
    &.google{
      min-width: 182px;
    }
  }
}
