@import "../../../styles/_partial/mixins/responsive.mixin";

.home {

  &.mobile{

  }

  .text-left {

  }

  .section {
    width: 35vw;
    position: absolute;
    top: 0vw;
    left: 7vw;
    display: table;
    text-align: center;
    margin-left: 0;
    margin-right: auto;

    &.text-1 {
      width: 100%;
    }

    /*@include for-tablet {
      top: 5%;
    }*/

    /*@include for-mobile-small {
      margin-left: auto;
      margin-right: auto;
      img {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
      }
    }*/
  }

  &.mobile{
    .section{
      margin-left: 0vw;
      top: 3vw;
      left: 4vw;
    }
  }

  .right-section {
    margin-left: auto;
    margin-right: 0;
    display: block;
  }

  .left-section {
    margin-right: auto;
    margin-left: 0;
    display: block;
  }

  strong {
    font-size: 18px;
  }

  .button-challers {
    width: 218px;
  }

  &.desktop{
    .diagonal {
      right: 0;
      top: 0;
      background: var(--grin-color);
      clip-path: polygon(43% 0, 100% 0%, 100% 100%, 0% 100%);
      position: absolute;
      bottom: 0;
      /*@include for-table-very-small {
        margin-top: 50px;
      }
      @include for-mobile-very-small-2 {
        margin-top: 150px;
      }*/
    }

    .diagonal:before {
      content: "";
      right: 0;
      top: 0;
      left: 0.8vw;
      position: absolute;
      bottom: 0;
      background: url(/assets/images/background/pat.png) no-repeat center;
      background-size: 100%;
      background-position-x: 0vw;
      background-position-y: -14vw;
      clip-path: polygon(43.8% 0, 100% 0%, 100% 100%, 0% 100%)
    }

    .diagonal-two{
      right: -36vw;
      top: 0;
      position: absolute;
      bottom: 0;
    }
    .diagonal-two:before{
      content: "";
      right: 0;
      top: 0;
      left: 0.8vw;
      position: absolute;
      bottom: 0;
      background: url(/assets/images/background/black.jpg) no-repeat center;
      background-size: 71%;
      background-position-x: -12.8vw;
      background-position-y: 0vw;
      -webkit-clip-path: polygon(20.3% 0, 100% 0%, 100% 100%, 0% 100%);
      clip-path: polygon(20.3% 0, 100% 0%, 100% 100%, 0% 100%);
    }
  }

  &.mobile{

    .diagonal {
      right: 0;
      left: 0;
      top: 0;
      background: var(--grin-color);
      clip-path: polygon(102% 0%, 100% 0%, 100% 100%, 0 100%, 0 36%);
      position: absolute;
      bottom: 0;
      /*@include for-table-very-small {
        margin-top: 50px;
      }
      @include for-mobile-very-small-2 {
        margin-top: 150px;
      }*/
    }

    .diagonal:before {
      content: "";
      right: 0;
      left: 0;
      top: 3vw;
      position: absolute;
      bottom: 0;
      background: url(/assets/images/background/girl-background.jpg) no-repeat center;
      background-size: 187%;
      background-position-y: 1vw;
      background-position-x: -15vw;
      clip-path: polygon(101.3% 0%, 100% 0%, 100% 100%, 0 100%, 0 36%);
    }

    .diagonal-two {
      right: 0;
      left: 0;
      top: 80vw;
      position: absolute;
      bottom: 0;
      /*@include for-table-very-small {
        margin-top: 50px;
      }
      @include for-mobile-very-small-2 {
        margin-top: 150px;
      }*/
    }

    .diagonal-two:before {
      content: "";
      right: 0;
      left: 0;
      top: -9vw;
      position: absolute;
      bottom: 0;
      background: url(/assets/images/background/black2.jpg) no-repeat center;
      background-size: 100%;
      background-position-y: -4vw;
      background-position-x: 0vw;
      clip-path: polygon(101.3% 0%, 100% 0%, 100% 100%, 0 100%, 0 59%);
    }
  }

  /*@include for-table-very-small{
    .diagonal {
      clip-path: polygon(102% 0%, 100% 0%, 100% 100%, 0 100%, 0 36%);
    }
    .diagonal:before {
      left: 0;
      top: 17px;
      clip-path: polygon(100% 0%, 100% 0%, 100% 100%, 0 100%, 0 36%);
      background-size: 180%;
    }
  }*/

  /*@include for-mobile-very-small-2{
    .diagonal:before {
      left: 0;
      top: 17px;
      clip-path: polygon(100% 0%, 100% 0%, 100% 100%, 0 100%, 0 36%);
      background-size: 200%;
    }
  }*/
  &.desktop{
    .float-section{
      margin-top: 48px;
    }
  }
  &.mobile{
    .float-section{
      margin-top: 38px;
    }
  }

}
.desktop{
  &.dynamic-height{
    height: 39.96vw;
  }
}
.mobile{
  &.dynamic-height{
    height: 236vw
  }
}

/*@include for-table-very-small{
  .dynamic-height{
    height: 780px;
  }
}*/

.desktop{
  .diagonal-width{
    width: 53vw;
    /*@include for-tablet{
      width: 70%;
    }
    @include for-table-very-small{
        width: 100%;
        margin-top: 300px;
    }*/
  }
}
.mobile{
  .diagonal-width{
    width: 100%;
  }
}


.container-fluid{
  margin-top: 1vw;
}
.font-style-3{
  font-size: 22px;
  /*@include for-table-very-small{
    font-size: 16px;
  }*/
  &.elastic{
    font-size: 2vw;
  }
  &.elastic-min{
    font-size: 1.5vw;
  }
  &.elastic-mobile{
    font-size: 2.3vw;
  }
}
.mobile{
  .elastic-margin-top{
    margin-top: -2vw;
  }
}
.desktop{
  .elastic-margin-top{
    margin-top: 0.5vw;
  }
}
.mt-elastic{
  margin-top: 2vw;
}
.width-content{
  width: 48vw;
  &.min{
    width: 32vw;
  }
}
