<div class="about-background height-infinite about">
  <div class="container mt-5 desktop">
    <div class="row">
      <div class="col-sm-6">
        <div class="section animated fadeInLeft">
          <img [src]="'/assets/images/cell2.png'" class="w-100">
        </div>
      </div>
      <div class="col-sm-6">
        <div class="section text-1 pt-5 animated fadeIn">
          <div class="font-style-3 bold text-left">
            OUR STORY
          </div>
          <div class="font-style-3 text-left mt-1">
            We are a group from different parts of the world (Chile, Venezuela, Portugal and from The U.S.), who decided to create an original and fun platform for people to interact from all over the globe, and we named it CHALLER.
          </div>
          <div class="font-style-3 text-left mt-3">
            We have been working on this project since 2018. Seeing how the Covid-19 pandemic was affecting our planet, and paying special attention to the vicissitudes that part of our team from Venezuela were facing, like lack of fuel and deficiency in basic services such as water and electricity, we decided to impulse our work even harder to launch our project. This has been, without a doubt, the best scape and relief for us from all the bad news around the world. We worked day and night to create a platform to share with others and have fun from home. We hope you like it, as much as we do!
          </div>
          <div class="font-style-3 bold text-left mt-3">
            SHOW YOUR MAGIC WITH CHALLER
          </div>
          <div class="font-style-3 text-left mt-1">
            CHALLER is an amazing and incredible platform that lets people use their creativity and imagination by showing their skills challenging others, whether you are sportsman, athlete, artist, cooking expert, musician, or just someone who like to defy friend this platform is just for you. CHALLER lets the users create their own challenges, accept others’ contests, see others’ challenges, vote for their favorite performance, among other fun things.
            <ul class="mt-2">
              <li>
                First, you need to create your profile.
              </li>
              <li>
                Creating your video is easy, just make your video challenging someone in whatever you are good at.
              </li>
              <li>
                Upload your challenge video, send it to that someone you would like to dare and wait for the reply.
              </li>
              <li>
                Let people vote for who did it best.
              </li>
              <li>
                Earn points by winning challenges.
              </li>
              <li>
                Spread the word among your friends and family, tell them to join, and CHALLER them.
              </li>
            </ul>
          </div>
          <div class="font-style-3 text-left mt-1">
            We will value your support and comments to help CHALLER’s improvement and growth to make it more suitable for our users needs and demands.
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container mt-5 mobile">
    <div class="row">
      <div class="col-sm-6">
        <div class="section animated fadeInUp">
          <img [src]="'/assets/images/cell2.png'" class="w-100">
        </div>
      </div>
      <div class="col-sm-6">
        <div class="section text-1 pt-5">
          <div class="font-style-3-1 bold text-center">
            OUR STORY
          </div>
          <div class="font-style-3-1 text-justify mt-1">
            We are a group from different parts of the world (Chile, Venezuela, Portugal and from The U.S.), who decided to create an original and fun platform for people to interact from all over the globe, and we named it CHALLER.
          </div>
          <div class="font-style-3-1 text-justify mt-1">
            We have been working on this project since 2018. Seeing how the Covid-19 pandemic was affecting our planet, and paying special attention to the vicissitudes that part of our team from Venezuela were facing, like lack of fuel and deficiency in basic services such as water and electricity, we decided to impulse our work even harder to launch our project. This has been, without a doubt, the best scape and relief for us from all the bad news around the world. We worked day and night to create a platform to share with others and have fun from home. We hope you like it, as much as we do!
          </div>
          <div class="font-style-3-1 bold text-center mt-3">
            SHOW YOUR MAGIC WITH CHALLER
          </div>
          <div class="font-style-3-1 text-justify mt-1">
            CHALLER is an amazing and incredible platform that lets people use their creativity and imagination by showing their skills challenging others, whether you are sportsman, athlete, artist, cooking expert, musician, or just someone who like to defy friend this platform is just for you. CHALLER lets the users create their own challenges, accept others’ contests, see others’ challenges, vote for their favorite performance, among other fun things.
            <ul class="mt-2">
              <li>
                First, you need to create your profile.
              </li>
              <li>
                Creating your video is easy, just make your video challenging someone in whatever you are good at.
              </li>
              <li>
                Upload your challenge video, send it to that someone you would like to dare and wait for the reply.
              </li>
              <li>
                Let people vote for who did it best.
              </li>
              <li>
                Earn points by winning challenges.
              </li>
              <li>
                Spread the word among your friends and family, tell them to join, and CHALLER them.
              </li>
            </ul>
          </div>
          <div class="font-style-3-1 text-left mt-1">
            We will value your support and comments to help CHALLER’s improvement and growth to make it more suitable for our users needs and demands.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
