<div class="default-square" (click)="OnSelectChallenge(challenge)">
  <div class="patter-responsive" [ngClass]="{'border':isVideoEmpty}">
    <div class="img" [ngStyle]="{'background-image':'url(' + (challenge.imagePreview | fixImageUrl) + ')'}"
         *ngIf="!isVideoEmpty; else empty" >
    </div>

    <ng-template #empty>
      <div class="img absolutes" [ngStyle]="{'background-image':'url(assets/imgs/components/square-image/empty.jpg)'}">
      </div>
      <div class="horizontal-center pt-40">
        <div class="section-center">
          <div class="horizontal-center">
            <div class="section-center z-index">
              <img src="assets/imgs/components/square-image/no-video.svg" class="width-size">
            </div>
          </div>
        </div>
      </div>
    </ng-template>

    <div class="button-status">
      <div>
        <img src="assets/imgs/components/square-image/like/heard-like.svg">
      </div>
    </div>
  </div>
</div>
