<div class="home position-relative spacing-top-default fadeInRight dynamic-height desktop"

>

  <div class="float-section w-100 ">
    <div class="diagonal diagonal-width"></div>
    <div class="diagonal-two diagonal-width"></div>
  </div>

  <div class="float-section-left">
    <div class="section text-1 pt-0 pt-md-5 font-weight-bold">
      <div class="font-style-2 elastic white text-left">
        Show
      </div>
      <div class="font-style-2 elastic white text-left">
        Your
      </div>
      <div class="font-style-2 elastic white text-left">
        Magic!
      </div>
      <div class="font-style-3 white text-left elastic-margin-top">
        <span class="font-style-11 elastic">CHALLENGE. </span>
        <span class="font-style-11  elastic white elastic">VOTE. WIN</span>
      </div>
      <!--<div class="button-challers mt-5 mb-5 desktop">
        <app-button-type-template [template]="'green-2'" clickChallers>
          WATCH CHALLENGES
        </app-button-type-template>
      </div>-->
    </div>
  </div>

</div>

<div class="home position-relative spacing-top-default animated fadeInUp dynamic-height mobile"

>
  <div class="float-section w-100 ">
    <div class="diagonal diagonal-width"></div>
    <div class="diagonal-two diagonal-width"></div>
  </div>

  <div class="float-section-left">
    <div class="section text-1 pt-0 pt-md-5 font-weight-bold">
      <div class="font-style-2 elastic-mobile white text-left">
        Show Your
      </div>
      <div class="font-style-2 elastic-mobile white text-left">
        Magic!
      </div>
      <div class="font-style-3 white text-left elastic-margin-top">
        <span class="font-style-11 elastic-mobile">CHALLENGE. </span>
        <span class="font-style-11  elastic-mobile white elastic">VOTE. WIN</span>
      </div>
    </div>
  </div>

</div>
<app-footer></app-footer>

