<div class="home position-relative spacing-top-default animated fadeInRight dynamic-height"

>

  <div class="float-section w-100 ">
    <div class="diagonal diagonal-width"></div>
  </div>

  <div class="container-fluid ml-4 pb-5">
    <div class="row">
      <div class="col-sm-4">
        <div class="section text-1 pt-0 pt-md-5 font-weight-bold">
          <div class="font-style-2 white text-left">
            Show
          </div>
          <div class="font-style-2 white text-left">
            Your
          </div>
          <div class="font-style-2 white text-left">
            Magic!
          </div>
          <div class="font-style-3 white text-left mt-4">
            <span class="font-style-11">CHALLENGE. </span>
            <span class="font-style-11 white">VOTE. WIN</span>
          </div>
          <div class="button-challers mt-5 mb-5 desktop">
            <app-button-type-template [template]="'green-2'" clickChallers>
              WATCH CHALLENGES
            </app-button-type-template>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>

