<div class="home position-relative spacing-top-default fadeInLeft dynamic-height">

  <div class="w-100 ">
    <div class="diagonal diagonal-width"></div>
  </div>

  <div class="container mt-5 pb-5">
    <div class="row">
      <div class="col-sm-12 col-md-6">
      </div>
      <div class="col-sm-12 col-md-6">
        <div class="section text-1 pt-0 mt-elastic text-left ">
          <div class="font-style-3 elastic black-2 font-weight-bold">
            CHALLER FOR BUSINESS
          </div>
          <div class="font-style-2 elastic black-2 text-left font-weight-bold">
            Challer for Business
          </div>
          <div class="font-style-3 elastic white text-left mt-4">
            <span class="font-style-3 elastic gris ">
              Challer gives businesses a new and creative way to help them be a better as an organization and to spread their brand.
            </span>
          </div>
          <div class="font-style-3 elastic mt-4">
            <span class="font-style-3 elastic black-2 font-weight-bold slide-title">
              Awarded Challers
            </span>
          </div>
          <div class="font-style-3 elastic gris mt-4">
            Helps score and keep track of team building activities to creatively promote the sense of community and
            compromise among the members of your team.
          </div>
          <div class="container-fluid mt-5">
            <div class="row icons">
              <div class="col-md-4 mt-elastic-0">
                <img src="assets/images/components/info/luz.png" class="elastic-img">
                <div>
                  <span class="font-style-3 elastic gris font-weight-bold mt-elastic">
                    Exploit your
                  </span>
                </div>
                <div>
                  <span class="font-style-3 elastic gris font-weight-bold ">
                    creative Side
                  </span>
                </div>
              </div>
              <div class="col-md-4 mt-elastic-0">
                <img src="assets/images/components/info/play.png" class="elastic-img">
                <div>
                  <span class="font-style-3 elastic gris font-weight-bold ">
                    Engage and
                  </span>
                </div>
                <div>
                  <span class="font-style-3 elastic gris font-weight-bold ">
                    go viral
                  </span>
                </div>
              </div>
              <div class="col-md-4 mt-elastic-0">
                <img src="assets/images/components/info/vinculo.png" class="elastic-img">
                <div>
                  <span class="font-style-3 elastic gris font-weight-bold ">
                    Build Stronger
                  </span>
                </div>
                <div>
                  <span class="font-style-3 elastic gris font-weight-bold ">
                    relationships
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
