<div class="home position-relative spacing-top-default animated fadeInRight dynamic-height">

  <div class="w-100 ">
    <div class="diagonal diagonal-width"></div>
  </div>

  <div class="container mt-5 pb-5">
    <div class="row">
      <div class="col-sm-12 col-md-6">
      </div>
      <div class="col-sm-12 col-md-6">
        <div class="section text-1 pt-0 pt-md-5  text-left">
          <div class="font-style-3 black-2 font-weight-bold">
            CHALLER FOR BUSINESS
          </div>
          <div class="font-style-2 black-2 text-left font-weight-bold">
            Challer for Business
          </div>
          <div class="font-style-3 white text-left mt-4">
            <span class="font-style-3 gris ">
              Challer gives businesses a new and creative way to help them be a better as an organization and also to spread their brand.
            </span>
          </div>
          <div class="font-style-3 mt-4">
            <span class="font-style-3 black-2 font-weight-bold slide-title">
              AWARDED CHALLENGES
            </span>
          </div>
          <div class="font-style-3 gris mt-4">
            Helps score and keep track of team building activities and creatively promote the sense of community and
            compromise among the members of your team.
          </div>
          <div class="container-fluid mt-5">
            <div class="row icons">
              <div class="col-md-4">
                <img src="assets/images/components/info/luz.png">
                <div>
                  <span class="font-style-3 gris font-weight-bold ">
                    Exploit your
                  </span>
                </div>
                <div>
                  <span class="font-style-3 gris font-weight-bold ">
                    Creative Side
                  </span>
                </div>
              </div>
              <div class="col-md-4">
                <img src="assets/images/components/info/play.png">
                <div>
                  <span class="font-style-3 gris font-weight-bold ">
                    Engage and
                  </span>
                </div>
                <div>
                  <span class="font-style-3 gris font-weight-bold ">
                    Go viral
                  </span>
                </div>
              </div>
              <div class="col-md-4">
                <img src="assets/images/components/info/vinculo.png">
                <div>
                  <span class="font-style-3 gris font-weight-bold ">
                    Build Stronger
                  </span>
                </div>
                <div>
                  <span class="font-style-3 gris font-weight-bold ">
                    Relationships
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
