<div class="row-patter">

  <div class="image">
    <app-image-radius [src]="'/assets/images/star.svg' | fixImageUrl" [type]="'profile'"></app-image-radius>
  </div>

  <div class="info">

    <div class="row-1">
      <div>
        @ly
      </div>
      <div>
        icon
      </div>
    </div>

    <div class="row-2">
      <div>
        LYDIA GRAY
      </div>
    </div>

    <div class="row-3">
      <div>
        Bio Loren Ipsum, Loren Ipsum , Loren Ipsum
        Loren Ipsum
      </div>
    </div>

    <div class="row-4">
      <div class="square-section">
        <div class="number">
          5
        </div>
        <div class="bottom-title">
          Following
        </div>
      </div>

      <div class="square-section">
        <div class="number">
          5
        </div>
        <div class="bottom-title">
          Followers
        </div>
      </div>

      <div class="square-section">
        <div class="number">
          50
        </div>
        <div class="bottom-title">
          Ranking
        </div>
      </div>

      <div class="square-section">
        <div class="number">
          <img src="assets/images/star.svg" class="star">
          <span>2</span>
        </div>
        <div class="bottom-title">
          Points
        </div>
      </div>

    </div>
  </div>

</div>

