<div class="home position-relative spacing-top-default animated fadeInRight dynamic-height"
     [ngStyle]="{'height': newHeight + 'px'}"
>

  <div class="float-section w-100 ">
    <div class="diagonal diagonal-width"></div>
  </div>

  <div class="container mt-5 pb-5">
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <div class="section text-1 pt-0 pt-md-5  text-left">
          <div class="font-style-3 grin-light font-weight-bold pt-2">
            OUR STORY
          </div>
          <div class="font-style-2 white text-left font-weight-bold">
            Challer
          </div>
          <div class="font-style-3 white text-left">
            <span class="font-style-3 grin-light">CHALLER</span>
            <span class="font-style-3 white">
              was born as a new way to help people entertain themselves, connect with others around the world and engage in a fun and interactive way.
            </span>
          </div>
          <div class="font-style-3 white mt-4">
            Challer was created by a multicultural team, with members living in Venezuela, Chile, Portugal and the US. Back in 2018, our founders started thinking, researching and working on a new project that would give the younger generation a new way to meet and interact with people that have the same interests.
          </div>
          <div class="font-style-3 white mt-4">
            Seeing how the Covid-19 pandemic has been affecting the world, and paying special attention to the vicissitudes that we all have faced while adapting our lifestyle to the “new normal” and stay at home policy, we decided to pay special attention to this project, and launch Challer.
          </div>
          <div class="font-style-3 white mt-4">
            Challer is the perfect place to challenge the world!
          </div>

          <div class="rectangle mt-4"></div>

        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>

