<div class="home position-relative spacing-top-default fadeInRight dynamic-height desktop"

>

  <div class="float-section w-100 ">
    <div class="diagonal diagonal-width"></div>
    <div class="diagonal-two diagonal-width"></div>
  </div>

  <div class="float-section-left">
    <div class="section pt-0 mt-elastic-2  text-left">
      <div class="font-style-3 elastic-min grin-light font-weight-bold pt-2">
        OUR STORY
      </div>
      <div class="font-style-2 elastic-min white text-left font-weight-bold mt-elastic">
        Challer
      </div>
      <div class="font-style-3 elastic-min white text-left mt-elastic" >
        <span class="font-style-3 elastic-min grin-light">CHALLER</span>
        <span class="font-style-3 elastic-min white">
              was born as a new way to help people entertain themselves, connect with others around the world and engage in a fun and interactive way.
            </span>
      </div>
      <div class="font-style-3 elastic-min white mt-4">
        Challer was created by a multicultural and multinational team. Back
        in 2019, our founders started thinking, researching, and working on a new project that would give the younger
        generation a new way to meet and interact with people with their same interests.
      </div>
      <div class="font-style-3 elastic-min white mt-4">
        Seeing how the COVID-19 has affected the world, and paying special attention to the vicissitudes
        that we all have faced while adapting our lifestyle to the “new normal” and stay at home policy, we decided to
        dedicate ourselves to this project, and launch Challer.
      </div>
      <div class="font-style-3 elastic-min white mt-4">
        Challer is the perfect place to challenge the world!
      </div>

      <div class="rectangle mt-4"></div>

    </div>
  </div>
</div>

<div class="home position-relative spacing-top-default animated fadeInUp dynamic-height mobile">
  <div class="float-section w-100 ">
    <div class="diagonal diagonal-width"></div>
    <div class="diagonal-two diagonal-width"></div>
  </div>

  <div class="section pt-0 pt-md-5  text-left">
    <div class="font-style-3 elastic-mobile grin-light font-weight-bold pt-2">
      OUR STORY
    </div>
    <div class="font-style-2 elastic-mobile-2 white text-left font-weight-bold">
      Challer
    </div>
    <div class="font-style-3 elastic-mobile white text-left">
      <span class="font-style-3 elastic-mobile grin-light">CHALLER</span>
      <span class="font-style-3 elastic-mobile white">
              was born as a new way to help people entertain themselves, connect with others around the world and engage in a fun and interactive way.
            </span>
    </div>
    <div class="font-style-3 elastic-mobile white mt-4">
      Challer was created by a multicultural and multinational team. Back
      in 2019, our founders started thinking, researching, and working on a new project that would give the younger
      generation a new way to meet and interact with people with their same interests.
    </div>
    <div class="font-style-3 elastic-mobile white mt-4">
      Seeing how the COVID-19 has affected the world, and paying special attention to the vicissitudes
      that we all have faced while adapting our lifestyle to the “new normal” and stay at home policy, we decided to
      dedicate ourselves to this project, and launch Challer.
    </div>
    <div class="font-style-3 elastic-mobile white mt-4">
      Challer is the perfect place to challenge the world!
    </div>

    <div class="rectangle mt-4"></div>

  </div>

</div>


<app-footer></app-footer>

