<div [class]="'download-apps '+ template" >
  <div class="font-style-10-download">
    DOWNLOAD THE APP
  </div>
  <div class="buttons">
    <div class="click">
      <img src="assets/images/components/download_buttons/google.svg" clickAndroid >
    </div>
    <div class="click">
      <img src="assets/images/components/download_buttons/apple.svg" clickAndroid>
    </div>
    <!--<div class="click">
      <img src="assets/images/components/download_buttons/amazon.svg" >
    </div>-->
    <!--<div class="click">
      <img src="assets/images/components/download_buttons/code.svg" >
    </div>-->
  </div>
</div>
