<div class="download-apps">
  <div class="font-style-10-download">
    DOWNLOAD THE APP
  </div>
  <div class="buttons">
    <div>
      <img src="assets/images/components/download_buttons/google.svg" >
    </div>
    <div>
      <img src="assets/images/components/download_buttons/apple.svg" >
    </div>
    <div>
      <img src="assets/images/components/download_buttons/amazon.svg" >
    </div>
    <div>
      <img src="assets/images/components/download_buttons/code.svg" >
    </div>
  </div>
</div>
