<div class="header" [ngClass]="{'home-challer': router.url === '/home-challer'}">
  <div class="container desktop">
    <div [hidden]="router.url !== '/home-challer'">
      <div class="d-flex bd-highlight mb-3 font-style-1">
        <div class="animated fadeInLeft p-3 mr-auto bd-highlight click" (click)="onHome()" [ngClass]="{'img-selected': router.url === '/'}">
          <img [src]="'/assets/images/icons/chall-logo-black.svg'" class="icon-home-desktop d-block">
        </div>
        <div class="p-2 bd-highlight click position-relative">
            <app-cloud-notification [type]="'left'">
              <div class="click animated">
                <app-image-radius [type]="'profile-header'"
                                  [src]="'/assets/images/components/header/profile.svg'">
                </app-image-radius>
              </div>
            </app-cloud-notification>
        </div>
        <!--<div class="p-3 bd-highlight click" (click)="onPolicy()" [ngClass]="{'font-style-4': router.url === '/policy'}">
          Legal
        </div>-->
      </div>
    </div>
    <div [hidden]="router.url === '/home-challer'">
      <div class="d-flex bd-highlight mb-3 font-style-1">
        <div class="animated fadeInLeft p-3 mr-auto bd-highlight click" (click)="onHome()" [ngClass]="{'img-selected': router.url === '/'}">
          <img [src]="'/assets/images/icons/chall-logo.svg'" class="icon-home-desktop d-block">
        </div>
        <div class="p-3 bd-highlight click" (click)="onAbout()" [ngClass]="{'font-style-4': router.url === '/about-us'}">
          <div class="height-section">
            <img [src]="'/assets/images/components/header/group.svg'" class="icon-group d-block">
          </div>
          <div class="font-style-5">
            About Us
          </div>
        </div>
        <div class="p-3 bd-highlight click" [ngClass]="{'font-style-4': router.url === '/vision'}">
          <div class="height-section">
            <img [src]="'/assets/images/components/header/eye.svg'"  (click)="onVision()" class="icon-eye d-block">
          </div>
          <div class="font-style-5">
            Visión
          </div>
        </div>
        <div class="p-3 bd-highlight click">
          <div>
            <app-button-type-template [template]="'header'" (click)="onViewChaller()">
              VIEW CHALLERS
            </app-button-type-template>
          </div>
        </div>
        <!--<div class="p-3 bd-highlight click" (click)="onPolicy()" [ngClass]="{'font-style-4': router.url === '/policy'}">
          Legal
        </div>-->
      </div>
    </div>
  </div>

  <div class="container mobile">
    <div>
      <div class="d-flex justify-content-between bd-highlight mb-3 font-style-1">
        <div class="p-3 bd-highlight click logo-section" >
          <div class="section-menu">
            <div *ngIf="!isOpen; else open" (click)="onClickMenu()">
              <img [src]="'/assets/images/icons/menu.svg'" class="menu-icon d-block" >
            </div>
            <div (click)="onHome()" class="click">
              <img [src]="'/assets/images/icons/chall-logo.svg'" class="logo d-block">
            </div>
          </div>
        </div>
        <div class="p-3 bd-highlight click logo-section" >
          <div>
            <app-button-type-template [template]="'header'">
              VIEW CHALLERS
            </app-button-type-template>
          </div>
        </div>
        <ng-template #open>
          <div class="p-3 bd-highlight click logo-section click float-right-close" (click)="onClickMenu()">
            <img [src]="'/assets/images/icons/close.svg'" class="menu-icon d-block">
          </div>
        </ng-template>
      </div>
    </div>
  </div>

  <div class="mobile menu-float pt-4 animated fadeIn" *ngIf="isOpen">
    <div class="d-flex flex-column bd-highlight mb-3">
      <div class="p-2 bd-highlight click animated bounceInLeft" (click)="onHome()"  [ngClass]="{'font-style-4': router.url === '/'}">
        <div class="menu-items">
          <div class="icon">
            <img [src]="'/assets/images/icons/home.svg'" class="icon-home d-block">
          </div>
          <div class="text">
            Home
          </div>
        </div>
      </div>
      <div class="p-2 bd-highlight click mt-3 animated bounceInRight" (click)="onAbout()"  [ngClass]="{'font-style-4': router.url === '/about-us'}">
        <div class="menu-items">
          <div class="icon">
            <img src="/assets/images/components/header/group.svg" class="icon-home d-block">
          </div>
          <div class="text">
            About us
          </div>
        </div>
      </div>
      <div class="p-2 bd-highlight click mt-3 animated bounceInLeft click" (click)="onVision()" [ngClass]="{'font-style-4': router.url === '/vision'}">
        <div class="menu-items">
          <div class="icon">
            <img src="/assets/images/components/header/eye.svg" class="icon-home d-block">
          </div>
          <div class="text">
            Vision
          </div>
        </div>
      </div>
      <div class="p-2 bd-highlight click mt-3 animated bounceInRight" (click)="onBusiness()" [ngClass]="{'font-style-4': router.url === '/business'}">
        <div class="menu-items">
          <div class="icon">
            <img src="/assets/images/components/header/graph.svg" class="icon-home d-block">
          </div>
          <div class="text">
            Challer for Business
          </div>
        </div>
      </div>
      <div class="p-2 bd-highlight click mt-3 animated bounceInLeft" (click)="onAbout()" [ngClass]="{'font-style-4': router.url === '/contact'}">
        <div class="menu-items">
          <div class="icon">
            <img src="/assets/images/components/header/information.svg" class="icon-home d-block">
          </div>
          <div class="text click" (click)="onContact()" >
            Contact US
          </div>
        </div>
      </div>
      <!--<div class="p-2 bd-highlight click mt-3 animated bounceInLeft" (click)="onPolicy()" [ngClass]="{'font-style-4': router.url === '/policy'}">
        Legal
      </div>-->
    </div>
    <app-button-type-template [template]="'green'">
      <div class="text-center click" (click)="onViewChaller()">
        VIEW CHALLENGES
      </div>
    </app-button-type-template>
  </div>
</div>
