@import "../../../styles/_partial/mixins/responsive.mixin";
.header{
  height: 66px;
  color: var(--grin-color);
  background: var(--header-green);
  width: 100%;
  margin-top: 0;

  &.home-challer{
    background: var(--follow-color);
    border-bottom: 1px solid black;
  }
  &.home-challer-mobile{
    background: transparent;
    border-bottom: 1px solid transparent;
  }

  .height-section{
    height: 25px;
  }

  .desktop{
    display:block;
  }
  .mobile{
    display:none;
  }

  @include for-table-very-small{
    .desktop{
      display:block;
    }
    .mobile{
      display:none;
    }
  }
  @include for-mobile-very-small{
    .mobile{
      display:block;
    }
    .desktop{
      display:none;
    }
  }
  .logo-section{
    padding: 0!important;
    padding-top: 10px!important;
    .logo{
      width: 120px;
    }
    .menu-icon{
      width: 32px;
    }
    &.float-right-close{
      position: absolute;
      right: 10px;
      top: 58px;
      z-index: 10;
    }
  }

  .menu-float{
    position: fixed;
    background: rgba(0, 0, 0, 0.85);
    left: 0;
    right: 0;
    bottom: 0;
    top: 66px;
    z-index: 1;
    font-weight: bold;
    padding-left: 5%;
    padding-right: 5%;
  }

  .c-flex{
    display: flex;
  }
  .bd-highlight{
    text-align: center;
  }

  .icon-home{
    width: 44px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    fill: var(--grin-color);
  }
  .icon-home-desktop{
    width: 142px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    fill: var(--grin-color);
    margin-top: -4px;
  }

  .icon-eye{
    width:34px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    fill: var(--grin-color);
    margin-top: -6px;
  }

  .icon-group{
    width: 35px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    fill: var(--grin-color);
    margin-top: -6px;
  }

  .section-menu{
    display: flex;
  }

  .container.mobile{
    padding-top: 7px;
  }

  .menu-items{
    display: flex;
    .icon{

    }
    .text{
      font-weight: normal;
      color: var(--grin-color);
      border-bottom: 1px solid grey;
      padding-bottom: 10px;
      margin-bottom: 2px;
      margin-left: 18px;
      width: 100%;
      text-align: left;
    }
  }

  .logo-home-mobile{
    .click{
      margin-top: 12px;
    }
    img{
      width: 90px;
    }
  }

}


