<div class="header"
     [ngClass]="
     {
        'home-challer': router.url === '/home-challer',
        'home-challer-mobile': isShowMobile
     }"
     [hidden]="(isMobile && router.url === '/home-challer') && !isShowMobile">
  <div class="container desktop">
    <div [hidden]="router.url !== '/home-challer'">
      <div class="d-flex bd-highlight mb-3 font-style-1">
        <div class="animated fadeInLeft p-3 mr-auto bd-highlight click" (click)="onHome()" [ngClass]="{'img-selected': router.url === '/'}">
          <img [src]="'/assets/images/icons/chall-logo-black.svg'" class="icon-home-desktop d-block">
        </div>
        <div class="p-2 bd-highlight click position-relative">
            <app-cloud-notification [type]="'left'">
              <div class="click animated">
                <app-image-radius [type]="'profile-header'"
                                  [src]="'/assets/images/components/header/profile.svg'">
                </app-image-radius>
              </div>
            </app-cloud-notification>
        </div>
        <!--<div class="p-3 bd-highlight click" (click)="onPolicy()" [ngClass]="{'font-style-4': router.url === '/policy'}">
          Legal
        </div>-->
      </div>
    </div>
    <div [hidden]="router.url === '/home-challer'">
      <div class="d-flex bd-highlight mb-3 font-style-1">
        <div class="animated fadeInLeft p-3 mr-auto bd-highlight click" (click)="onHome()" [ngClass]="{'img-selected': router.url === '/'}">
          <img [src]="'/assets/images/icons/chall-logo.svg'" class="icon-home-desktop d-block">
        </div>
        <div class="p-3 bd-highlight click" (click)="onAbout()" [ngClass]="{'font-style-4': router.url === '/about-us'}">
          <div class="font-style-5 header-text">
            ABOUT US
          </div>
        </div>
        <div class="p-3 bd-highlight click" [ngClass]="{'font-style-4': router.url === '/vision'}">
          <div class="font-style-5 header-text">
            OUR MISSION
          </div>
        </div>
        <div class="p-3 pr-5 bd-highlight click" [ngClass]="{'font-style-4': router.url === '/vision'}">
          <div class="font-style-5 header-text">
            OUR STORY
          </div>
        </div>
        <div class="bd-highlight click button-top">
          <div>
            <app-button-type-template [template]="'green-2'" (click)="onViewChaller()">
              WATCH CHALLENGES
            </app-button-type-template>
          </div>
        </div>
        <!--<div class="p-3 bd-highlight click" (click)="onPolicy()" [ngClass]="{'font-style-4': router.url === '/policy'}">
          Legal
        </div>-->
      </div>
    </div>
  </div>

  <div class="container mobile">
    <div>
      <div class="d-flex justify-content-between bd-highlight mb-3 font-style-1">
        <div class="p-3 bd-highlight click logo-section" >
          <div class="section-menu">
            <div *ngIf="!isOpen; else open" (click)="onClickMenu()">
              <img [src]="'/assets/images/icons/menu.svg'" class="menu-icon d-block" >
            </div>
            <ng-template #open>
              <div class="bd-highlight click click" (click)="onClickMenu()" [ngClass]="{'isMobileNative':isShowMobile}">
                <img [src]="'/assets/images/icons/close.svg'" class="menu-icon d-block">
              </div>
            </ng-template>
          </div>
        </div>
        <div class="bd-highlight logo-home-mobile">
          <div (click)="onHome()" class="click" *ngIf="!isShowMobile">
            <img [src]="'/assets/images/icons/chall-logo.svg'" class="logo d-block">
          </div>
        </div>
        <div class="p-3 bd-highlight">
          &nbsp;
        </div>
      </div>
    </div>
  </div>

  <div class="mobile menu-float pt-4 animated fadeIn" *ngIf="isOpen" [ngClass]="{'isMobileNative':isShowMobile}" >
    <div class="d-flex flex-column bd-highlight mb-3">
      <div class="p-2 bd-highlight click animated bounceInRight" (click)="onAbout()"  [ngClass]="{'font-style-4': router.url === '/about-us'}">
        <div class="menu-items">
          <div class="text">
            ABOUT US
          </div>
        </div>
      </div>
      <div class="p-2 bd-highlight click  animated bounceInLeft click" (click)="onVision()" [ngClass]="{'font-style-4': router.url === '/vision'}">
        <div class="menu-items">
          <div class="text">
            OUR MISION
          </div>
        </div>
      </div>
      <div class="p-2 bd-highlight click animated bounceInRight" (click)="onBusiness()" [ngClass]="{'font-style-4': router.url === '/business'}">
        <div class="menu-items">
          <div class="text">
            OUR STORY
          </div>
        </div>
      </div>
      <div class="p-2 bd-highlight click animated bounceInLeft" (click)="onBusiness()" [ngClass]="{'font-style-4': router.url === '/contact'}">
        <div class="menu-items">
          <div class="text click" (click)="onContact()" >
            CHALLER FOR BUSINESS
          </div>
        </div>
      </div>
      <!--<div class="p-2 bd-highlight click mt-3 animated bounceInLeft" (click)="onPolicy()" [ngClass]="{'font-style-4': router.url === '/policy'}">
        Legal
      </div>-->
    </div>
    <app-button-type-template [template]="'red'">
      <div class="text-center click" (click)="onContact()">
        CONTACT US
      </div>
    </app-button-type-template>
  </div>
</div>
