:root{
  --grin-color: #02ffbb;
  --back-color:#000a20;
  --header-green:#103247;
  --black-color: #000000;
  --black-color-2: #0b273b;
  --blue-color: #103247;
  --blue-color-cloud: #0f3044;
  --follow-color: #f5f5f5;
  --border-form-input:#707070;
  --border-gris:#707070;
  --border-line:#cecece;
  --textarea-form-input:#f5f5f5;
  --red-color:#ff4866;
  --white-color:#ffffff;
  --gris-color:#414141;
}
