@import "../../styles/_partial/mixins/responsive.mixin";
.font-style-1{
  font-weight: bold;
  font-size: 14px;
}
.font-style-2{
  color: var(--blue-color);
  font-size: 45px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  &.elastic{
    font-size: 4vw;
  }
  &.elastic-min{
    font-size: 3vw;
  }
  &.elastic-mobile{
    font-size: 11vw;
  }
  &.elastic-mobile-2{
    font-size: 6vw;
  }
  &.elastic-mobile-content{
    font-size: 4.8vw;
  }
  &.white{
    color: var(--white-color)
  }
  @include for-table-very-small{
    font-size: 36px;
  }
}
.font-style-2-3{
  color: var(--blue-color);
  font-size: 20px;
  font-stretch: normal;
  font-style: normal;
  font-weight: bold;
}
.font-style-3{
  color: var(--black-color);
  font-size: 16px;
  &.bold{
    font-weight: bold;
  }
  &.blue{
    color: var(--blue-color);
  }
  &.black-2{
    color: var(--black-color-2);
  }
  &.white{
    color: var(--white);
  }
  &.grin-light{
    color: var(--grin-color);
  }
  &.big{
    font-size: 18px;
  }
  &.little{
    font-size: 13px;
  }
  &.gris{
    color: var(--gris-color);
  }
}
.font-style-3-1{
  color: var(--black-color);
  font-size: 18px;
  &.bold{
    font-weight: bold;
  }
}
.font-style-4{
  color: lighten(#02ffbb, 20%);
  /*font-size: 17px;*/
  text-shadow: 0 0 5px #000, 0 0 10px #7d7d7d, 0 0 15px #FFF, 0 0 20px #000000, 0 0 30px #525252, 0 0 40px #49FF18, 0 0 55px #49FF18, 0 0 75px #49ff18;
}

.font-style-5{
  color: #FFFFFF;
  font-weight: normal;
  &.header-text{
    padding-top: 6px;
  }
  &.bold{
    font-weight: bold;
  }
  @include for-table-very-small{
    &.responsive{
      font-size: 10px;
    }
  }
}
.font-style-8{
  color:#a7a7a7;
  padding-top: 8px;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
}
.font-style-10-download{
  font-size: 18px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.28;
  letter-spacing: 0.9px;
  color: #0b293d;
}

.font-style-11{
  color: #02ffbb;
  &.white{
    color: var(--white)
  }
  &.elastic{
    font-size: 1.3vw;
  }
  &.elastic-mobile{
    font-size: 2.9vw;
  }
}

.font-style-6{
  color: black;
  font-size: 20px;
  font-weight: bold;
}
.subtitle-footer{
  font-size: 20px;
  color: #FFFFFF;
  &.follow{
    font-weight: 100;
    font-stretch: normal;
    font-style: normal;
    color: var(--follow-color);
  }
}
.font-follow-style{
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  color: var(--follow-color)
}
.social{
  width: 22px;
  margin-top: 5px
}
.font-style-7{
  color: var(--border-gris);
  font-weight: normal;
}
.font-style-cloud{
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  text-align: justify;
  font-size: 17px;
  &.font-big{
    font-size: 21px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    color: #3c3c3b;
  }
}
.font-footer-menu{
  font-size: 10px;
  margin-top: 2px;
  color: #36efa5;
}
.font-contact-bold{
  font-size: 35px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: normal;
  text-align: center;
  color: #3a5668;
}

.font-blue{
  color: var(--text-color-default)
}
.font-red{
  color: var(--text-color-challer)
}
.text-format-1{
  font-size: 28px;
  text-align: center;
  color: white !important;
  font-weight: bold;
}
.text-format-4{
  color:#969696;
  font-size: 13px;
  margin-top: 3px;
}
.text-format-5{
  color:#464646;
  font-size: 13px;
  margin-top: 3px;
}
.text-format-6{
  color:#194a69;
  font-size: 13px;
  margin-top: 3px;
}

