@import "../../../../../../theme/globals/mixins/responsive.mixin";
.mosaic{
  .row-mosaic{
    display: block;
    width: 100%;
    /*border: 1px solid red;*/
    .col-mosaic{
      width: 33.33333%;
      display: inherit;
      float: left;
    }
    .col-skeleton {
      padding: 2px;
      @include for-table-very-small(){
        height: 233px;
      }
      @include for-mobile-small(){
        height: 208px;
      }
      @include for-mobile-very-small(){
        height: 180px;
      }
      @include for-mobile-very-small-2(){
        height: 146px;
      }
      @include for-mobile-very-small-3(){
        height: 134px;
      }
    }
  }
  .title-mosaic{
    text-align: center;
    color: #a4a4a4;
    font-size: 14px;
    padding: 2px 10px 7px;
  }
  .not-found{
    color:#103146;
    margin-top: 48px;
    padding-left: 25%;
    padding-right: 25%;
    img{
      display: block;
      inline-size: min-content;
      text-align: center;
      margin-left: auto;
      margin-right: auto;
    }
  }

  .not-found{
    color:#103146;
    margin-top: 48px;
    padding-left: 25%;
    padding-right: 25%;
    img{
      display: block;
      inline-size: min-content;
      text-align: center;
      margin-left: auto;
      margin-right: auto;
    }
  }
}
