@import "../../../styles/_partial/mixins/responsive.mixin";
.footer-component{
  padding-top: 60px;
  padding-bottom: 60px;
  object-fit: contain;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.12);
  background-image: linear-gradient(to bottom, #0f2f44, #03182a);
  .footer-logo{
    img{
      width: 90px;
    }
  }
  .padding-footer{
    padding-left: 15%;
    padding-right: 15%;
    .logo-section{
      display: block;
    }
  }
  @include for-table-long {
    .padding-footer{
      padding-left: 1%;
      padding-right: 15%;
    }
  }
  @include for-tablet {
    .padding-footer{
      padding-left: 1%;
      padding-right: 15%;
      .logo-section{
        display: none;
      }
    }
  }
  @include for-table-very-small{
    .padding-footer{
      padding-left: 15%;
      padding-right: 15%;
      .logo-section{
        display: block;
      }
    }
  }

  .logo-section{
    text-align: center;
    margin-top: 20px;

    img{
      width: 100px;
      text-align: center;
      margin-left: auto;
      margin-right: auto;
    }
  }
  .contact{
    img{
      width: 30px;
      margin-top: -3px;
    }
  }
}
.desktop-logo{
  position: absolute !important;
  left: -68px;
  top: 25px;
  img{
    width: 50px;
  }
}

.instagram{
  text-align: right;
  margin-left: auto;
  display: block;
  img{
    width: 42px;
  }
}
.facebook{
  text-align: right;
  margin-left: auto;
  display: block;
  img{
    width: 42px;
  }
}
.youtube{
  text-align: right;
  margin-left: auto;
  display: block;
  img{
    width: 42px;
  }
}
.twitter, .youtube, .facebook, .instagram{
  text-align: right;
  margin-left: auto;
  display: block;
  img{
    width: 26px;
  }
  @include for-tablet {
    text-align: center;
    margin-right: auto;
  }
}

.download-section{
  position: absolute;
  bottom: 0;
  left: 20%;
  @include for-tablet {
    left: 50%;
  }
}
.mobile-download{
  inline-size: min-content;
  margin-top: -140px;
}
