<div class="container-fluid footer-component">
  <div class="padding-footer">
    <div class="row">
      <div class="col-md-3">
        <div class="subtitle-footer">
          About Us
        </div>
        <div class="mt-2">
          <app-button-type-template [template]="'footer'">
            <div class="d-flex bd-highlight font-style-1 height-60">
              <div class="bd-highlight contact">
                <img src="assets/images/icons/contact-phone.svg">
              </div>
              <div class="bd-highlight pl-2">
                Contact Us
              </div>
            </div>
          </app-button-type-template>
        </div>
        <div class="section-text about-icon mt-2">
          Address:
          <div>
            Lorem ipsum dolor sit amet
            Lorem ipsum dolor sit amet
          </div>
        </div>
        <div class="section-text information-icon mt-2">
          Have my Questions?:
          <div>
            Loremmip@challer.app
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="subtitle-footer">
          Cares
        </div>
        <div class="section-text links-icon mt-2">
          Be part of Cchaller team sent your CV to:
          <div>
            talent@challer.app
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="subtitle-footer">
          Business
        </div>
        <div class="section-text traz-icon mt-2">
          Loren Ipsum
          <div>

          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="">
          <div class="d-flex justify-content-center bd-highlight font-style-1 height-60">
            <div class="bd-highlight subtitle-footer follow">
              Follow us in
            </div>
            <div class="ml-2 bd-highlight click margin-top-button">
              <img [src]="'/assets/images/icons/instagram.svg'" class="social">
            </div>
            <div class="ml-2 bd-highlight click margin-top-button">
              <img [src]="'/assets/images/icons/twitter.svg'" class="social">
            </div>
          </div>
        </div>
        <div class="section-text font-follow-style text-left mt-5 pl-5">
          <div class="pt-1">
            Terms & Conditions
          </div>
          <div class="pt-1">
            Privacy policy
          </div>
          <div class="pt-1">
            Cookies policy
          </div>
        </div>

        <div class="mobile logo-section">
          <div class="text-center">
            <img [src]="'/assets/images/icons/chall-logo.svg'" class="icon-home-desktop d-block">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
