.footer-component{
  padding-top: 60px;
  padding-bottom: 60px;
  object-fit: contain;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.12);
  background-image: linear-gradient(to bottom, #0f2f44, #03182a);
  .footer-logo{
    img{
      width: 90px;
    }
  }
  .padding-footer{
    padding-left: 15%;
    padding-right: 15%;
  }

  .logo-section{
    text-align: center;
    margin: 20px auto;

    img{
      width: 100px;
      text-align: center;
      margin-left: auto;
      margin-right: auto;
    }
  }
  .contact{
    img{
      width: 30px;
      margin-top: -3px;
    }
  }
}
.desktop-logo{
  position: absolute !important;
  left: -68px;
  top: 25px;
  img{
    width: 50px;
  }
}

.instagram{
  text-align: right;
  margin-left: auto;
  display: block;
}
.download-section{
  position: absolute;
  bottom: 0;
}
.mobile-download{
  inline-size: min-content;
  margin-top: -140px;
}
