<div class="container-fluid footer-component">
  <div class="padding-footer">
    <div class="row">
      <div class="col-md-2">
        <div class="mobile text-center ml-auto mb-4 mr-auto mobile-download">
          <app-donwload-buttoms></app-donwload-buttoms>
        </div>
        <div class="footer-logo">
          <img src="assets/images/icons/logo.svg" class="text-md-left text-center d-block ml-auto mr-auto">
        </div>
      </div>
      <div class="col-md-2">
        <div class="font-style-5 bold text-md-left text-center mt-4 mt-md-0 mt-sm-4">
          CHALLER
        </div>
        <div class="font-style-8 text-md-left text-center ">
          About Us
        </div>
        <div class="font-style-8 text-md-left text-center ">
          Our Mission
        </div>
        <div class="font-style-8 text-md-left text-center ">
          Our Story
        </div>
      </div>
      <div class="col-md-2">
        <div class="font-style-5 bold text-md-left text-center mt-4 mt-md-0 mt-sm-4">
          QUESTIONS?
        </div>
        <div class="font-style-8 text-md-left text-center ">
          Terms & Conditions
        </div>
        <div class="font-style-8 text-md-left text-center ">
          Policy policy
        </div>
        <div class="font-style-8 text-md-left text-center ">
          Cookies policy
        </div>
      </div>

      <div class="col-md-2">
        <div class="font-style-5 bold text-md-left text-center mt-4 mt-md-0 mt-sm-4">
          CONTACT UPS
        </div>
        <div class="font-style-8 text-md-left text-center ">
          Join our team
        </div>
        <div class="font-style-8 text-md-left text-center ">
          Challer for Business
        </div>
      </div>

      <div class="col-md-2">
        <div class="font-style-5 bold text-center text-md-center text-sm-center  mt-4 mt-md-0 mt-sm-4">
          FOLLOW US
        </div>
        <div>
          <div class="d-flex bd-highlight">
            <div class="p-2 flex-fill bd-highlight">
              <div class="instagram">
                <img src="assets/images/components/footer/instagram.svg">
              </div>
            </div>
            <div class="p-2 flex-fill bd-highlight">
              <div>
                <img src="assets/images/components/footer/twitter.svg">
              </div>
            </div>
          </div>
        </div>
        <div class="mt-2">
          <app-button-type-template [template]="'red'" clickModal>
            <div class="font-weight-bold text-center">CONTACT US</div>
          </app-button-type-template>
        </div>
      </div>

      <div class="col-md-2">
        <div class="desktop download-section">
          <app-donwload-buttoms></app-donwload-buttoms>
        </div>
      </div>
    </div>
  </div>
</div>
