<div class="home position-relative spacing-top-default animated fadeInLeft dynamic-height"

>

  <div class="w-100 ">
    <div class="diagonal diagonal-width"></div>
  </div>

  <div class="container mt-5 pb-5">
    <div class="row">
      <div class="col-sm-12 col-md-6">
      </div>
      <div class="col-sm-12 col-md-6">
        <div class="section text-1 pt-md-5 mt-elastic-2 text-left">
          <div class="font-style-2 elastic-min black-2 font-weight-bold ">
            OUR MISION
          </div>
          <div class="font-style-2 elastic black-2 text-left font-weight-bold mt-elastic">
            Challenge +
          </div>
          <div class="font-style-2 elastic black-2 text-left font-weight-bold">
            Connect +
          </div>
          <div class="font-style-2 elastic black-2 text-left font-weight-bold">
            Be The Chosen
          </div>
          <div class="font-style-3 elastic-min white text-left mt-4">
            <span class="font-style-3 elastic-min gris ">
              Our mission is to provide a new and exciting world for entertainment in which users connect through <span class="font-weight-bold">challenges</span>. We want to inspire creativity, competition and memorable moments
            </span>
          </div>
          <div class="rectangle mt-5">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
