/* You can add global styles to this file, and also import other style files */


@import './styles/_partial/sections';

.img-selected{

}
.height-infinite{
  height: 100%;
}
.click{
  cursor: pointer;
}
.principal-background{
  /*background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(/assets/images/background/caller-landing-2@3x.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;*/
  position: fixed;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  top: 66px;
  height: calc(100% - 66px);
}
app-cloud{
  img{
    width: 17px;
    margin-top: -5px;
  }
}
