<div class="">
  <div class="container mt-5">
    <div class="row">
      <div class="col-md-4">
        <div class="section  fadeInRight">
          <img [src]="'/assets/images/cell@3x.png'" class="w-100">
        </div>
      </div>
      <div class="col-md-8">
        <div class="section text-1 pt-5">
          <div class="font-style-2 text-left">
            Our Vision
          </div>
          <div class="font-style-3 text-left">
            Challer is a platform to show your abilities challenging others. If you like to show what you are good at and defy your friends, then Challer is for you. Download it, challenge, vote, look at challenges and connect with others. Can you do it better?
          </div>
          <div class="font-style-3 text-left pt-2">
            <strong>SHOW YOUR MAGIC WITH CHALLER!!!</strong>
          </div>
          <div class="font-style-3 text-left pl-3 pt-2">
            Coming soon to:
          </div>
        </div>
      </div>
    </div>
  </div>

  <app-download-app></app-download-app>
  <app-footer></app-footer>
</div>

